
<div class="grid-container">
  <div class="background-container"></div>
  <div class="content-container">
  <h1 class="mat-h1">Bienvenido, Director</h1>
  <section>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="../../../assets/fdi.gif"
              alt="Crear Solicitud" id="zoom">
          </div>
          <div class="contentBx">
            <h3 routerLink="registrosolicitudes">Gestion de Solicitudes</h3>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="https://s3-us-west-2.amazonaws.com/misionadmision-informacion/miscelanea/contenido-restringido-por-evaluacion-diagnostica.gif"
              alt="Mis Datos" id="zoom">
          </div>
          <div class="contentBx">
            <h3>MIS DATOS</h3>
          </div>
        </div>
        <ul class="sci">
          <li>
            <a href="#" class="link-button">Consultar</a>
          </li>
          <li>
            <a href="#" class="link-button">Estado</a>
          </li>
          <li>
            <a href="#" class="link-button">Más</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

