


.card2 {
  text-align: center;
  width: 350px;
  height: 440px;

  margin-left: 400px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo transparente */
  opacity: 0.7; /* Opacidad de la tarjeta */
}


.input1{
text-align: center;
width: 300px;
height: 10px;
background-color: aqua;
margin-left: 30px;
border-radius: 100%;

}
