<div class="grid-container">
  <section>
    <div class="container">
      <div class="card" style="background-color:rgb(11, 84, 179);" id="zoom">
        <div class="content">
          <div class="imgBx">
            <img style="border-radius: 20px;" src="https://cdn.dribbble.com/users/620800/screenshots/3408767/the-form.gif">
          </div>
          <div class="contentBx">
            <h3> <a style="color:white" href="" routerLink="/dashboardcita">CREAR SOLICITUD</a> <br><span></span></h3>
          </div>
        </div>
        <ul class="sci"></ul>
      </div>
      <div class="card" style="background-color:rgb(11, 84, 179)" id="zoom">
        <div class="content">
          <div class="imgBx">
            <img style="border-radius: 20px;"  src="../../../assets/info2.gif">
          </div>
          <div class="contentBx">
            <h3>MIS DATOS<br></h3>
          </div>
        </div>
        <ul class="sci">
          <li><a href="">Consultar</a></li>
          <li><a href="">Estado</a></li>
          <li><a href="">mas</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
